@media (max-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
  background-color: #131313;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 37px;
  width: 100%;
  padding: 0 100px 0 82px;
}

.home .home__logo {
  display: block;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.home .home__menu {
  width: 581px;
}

.home .home__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__menu .menu__items {
  list-style: none;
}

.home .home__menu .menu__links {
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.home .home__phone {
  display: block;
  text-decoration: none;
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
}

.home .home__call {
  display: block;
  height: 37px;
  width: 161px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: 0;
  border-radius: 2px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner .banner__social {
  width: 82px;
  background-color: #131313;
}

.banner .banner__social .social-link {
  display: block;
  margin: 200px auto;
  width: 20px;
  height: 174px;
  text-decoration: none;
  background-image: url("assets/img/instagrm-line.png");
  background-repeat: no-repeat;
}

.banner .banner__banner {
  position: relative;
  height: 513px;
  width: 100%;
  padding-left: 60px;
  padding-top: 194px;
  background-image: url("assets/img/banner-repair.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner__banner .banner-title {
  display: block;
  max-width: 520px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner .banner__banner .banner-title--colored {
  color: #E3B873;
}

.banner .banner__banner .banner-promo {
  display: block;
  max-width: 490px;
  margin: 30px 0 45px 0;
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.banner .banner__banner .btn {
  width: 207px;
  height: 51px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.banner .banner__banner .banner-calculate {
  margin-right: 20px;
  border: 0;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

.banner .banner__banner .banner-submit {
  background: 0;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.banner .banner__banner .banner-scroll {
  position: relative;
  display: block;
  bottom: -141px;
  left: -134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 247px;
  height: 97px;
  background-color: #131313;
}

.banner .banner__banner .banner-scroll .scroll-txt {
  min-height: 29px;
  min-width: 150px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  background-image: url("assets/img/scrol-down-marker.png");
  background-position: 120px 0;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: #FFFFFF;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 695px;
  padding: 0 0 379px 100px;
  background-image: url("assets/img/project-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.projects .projects__completed-projects {
  max-height: 482px;
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .projects__completed-projects .projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 170px;
  max-width: 420px;
}

.projects .projects__completed-projects .projects-header .header-span {
  display: block;
}

.projects .projects__completed-projects .projects-header .project-title {
  width: 171px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.projects .projects__completed-projects .projects-header .project-text {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.projects .projects__completed-projects .projects-desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  margin-top: 50px;
}

.projects .projects__completed-projects .projects-desc .desc-span {
  display: block;
  overflow: hidden;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.projects .projects__completed-projects .projects-desc .desc-span-text {
  display: block;
  max-width: 120px;
  overflow: hidden;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: none;
}

.projects .projects__completed-projects .projects-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.projects .projects__completed-projects .projects-switcher .switcher {
  display: block;
}

.projects .projects__completed-projects .projects-switcher .switcher-left,
.projects .projects__completed-projects .projects-switcher .switcher-right {
  width: 42px;
  height: 13px;
}

.projects .projects__completed-projects .projects-switcher .switcher-left {
  margin-right: 20px;
  background-image: url("assets/img/switcher-left.png");
}

.projects .projects__completed-projects .projects-switcher .switcher-right {
  margin-left: 20px;
  background-image: url("assets/img/switcher-rigth.png");
}

.projects .projects__completed-projects .projects-switcher .switcher-marker {
  width: 9px;
  height: 9px;
  margin: 0 9px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.projects .projects__completed-projects .projects-switcher .switcher-marker--colored {
  background: #FFFFFF;
}

.projects .projects__slider {
  max-height: 551px;
  width: 100%;
  margin-left: 70px;
}

.projects .projects__slider .slider-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 623px;
  margin-bottom: 45px;
}

.projects .projects__slider .slider-map .map-name {
  display: block;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.projects .projects__slider .slider-map .map-name--colored {
  color: #E3B873;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.projects .projects__slider .slider-frames {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 482px;
  width: 100%;
  padding-right: 21px;
}

.projects .projects__slider .slider-frames .frame-content {
  width: 679px;
  height: 482px;
}

.projects .projects__slider .slider-frames .frame-content:nth-child(2) {
  position: absolute;
  right: -59%;
}

.projects .projects__slider .slider-frames:after {
  content: "";
  position: absolute;
  top: calc(50% - 23px);
  right: 5%;
  width: 55px;
  height: 55px;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  border-radius: 50%;
  background-image: url("assets/img/next-slide.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.repair {
  height: 2663px;
  position: relative;
  background-image: url("assets/img/lines-bg.png");
  background-repeat: no-repeat;
}

.repair .repair__online-control {
  position: relative;
  top: -285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 818px;
  margin: 0 auto;
}

.repair .repair__online-control .online-sign {
  display: block;
  width: 300px;
  height: 67px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-transform: uppercase;
  background-image: url("assets/img/online-control.png");
  color: #FFFFFF;
}

.repair .repair__online-control .online-video {
  margin: 31px 0 99px 0;
}

.repair .repair__online-control .online-paragraph {
  display: block;
  max-width: 681px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.repair .repair__online-control .online-form {
  max-width: 769px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 92px;
}

.repair .repair__online-control .online-form .form-label,
.repair .repair__online-control .online-form .form-input {
  display: block;
}

.repair .repair__online-control .online-form .label-name,
.repair .repair__online-control .online-form .input-name,
.repair .repair__online-control .online-form .input-phone {
  width: 231px;
}

.repair .repair__online-control .online-form .input-name,
.repair .repair__online-control .online-form .input-phone {
  height: 26px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.repair .repair__online-control .online-form .input-name::-webkit-input-placeholder,
.repair .repair__online-control .online-form .input-phone::-webkit-input-placeholder {
  vertical-align: top;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 36px;
  color: #363636;
}

.repair .repair__online-control .online-form .input-name:-ms-input-placeholder,
.repair .repair__online-control .online-form .input-phone:-ms-input-placeholder {
  vertical-align: top;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 36px;
  color: #363636;
}

.repair .repair__online-control .online-form .input-name::-ms-input-placeholder,
.repair .repair__online-control .online-form .input-phone::-ms-input-placeholder {
  vertical-align: top;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 36px;
  color: #363636;
}

.repair .repair__online-control .online-form .input-name::placeholder,
.repair .repair__online-control .online-form .input-phone::placeholder {
  vertical-align: top;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 36px;
  color: #363636;
}

.repair .repair__online-control .online-form .label-name {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.repair .repair__online-control .online-form .input-submit {
  display: block;
  width: 200px;
  height: 51px;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border: 0;
  border-radius: 2px;
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.repair .repair__online-control .online-form .checkbox-text {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 35px auto;
  width: 286px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.repair .repair__online-control .online-form .checkbox-text .checkbox-marker {
  display: inline-block;
  margin-right: 9px;
}

.repair .repair__types {
  position: relative;
  bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repair .repair__types .repair-sign {
  display: block;
  width: 300px;
  height: 67px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-transform: uppercase;
  background-image: url("assets/img/types-repair.png");
  color: #181818;
}

.repair .repair-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 31px;
}

.repair .repair-examples .repair-examples__item {
  position: relative;
  z-index: 0;
  margin-right: 30px;
}

.repair .repair-examples .repair-examples__item .item-list {
  position: relative;
  z-index: 1;
  bottom: 150px;
  left: 31px;
  width: 330px;
  height: 286px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0 0 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair .repair-examples .repair-examples__item .item-list .list-title {
  display: block;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.repair .repair-examples .repair-examples__item .item-list .list-points {
  display: block;
  margin-left: 15px;
}

.repair .repair-examples .repair-examples__item .item-list .points {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.repair .repair-examples .repair-examples__item .item-price {
  position: relative;
  z-index: 2;
  bottom: 177px;
  left: 31px;
  display: block;
  width: 228px;
  height: 54px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  text-transform: uppercase;
  color: #FFFFFF;
}

.repair .repair__promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 115px;
  height: 725px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repair .repair__promotion .promotion-elipse {
  position: relative;
  height: 636px;
  min-width: 776px;
  margin-bottom: 34px;
  background-image: url("assets/img/elipse-building.png");
  background-repeat: no-repeat;
}

.repair .repair__promotion .promotion-elipse .promotion-point {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.repair .repair__promotion .promotion-elipse .promotion-point .promotion-num {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 13px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-elipse .promotion-point .promotion-num-text {
  display: block;
  width: 225px;
  font-family: "FuturaMediumC";
  font-size: 18px;
  word-wrap: break-word;
  color: #363636;
}

.repair .repair__promotion .promotion-elipse .promotion-point:nth-of-type(1) {
  top: 66px;
  left: 355px;
}

.repair .repair__promotion .promotion-elipse .promotion-point:nth-of-type(1) .promotion-num-text {
  width: 422px;
}

.repair .repair__promotion .promotion-elipse .promotion-point:nth-of-type(2) {
  top: 133px;
  left: 432px;
}

.repair .repair__promotion .promotion-elipse .promotion-point:nth-of-type(3) {
  top: 252px;
  left: 455px;
}

.repair .repair__promotion .promotion-elipse .promotion-point:nth-of-type(4) {
  top: 370px;
  left: 386px;
}

.repair .repair__promotion .promotion-from .submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 49px;
  width: 509px;
  height: 506px;
  background: #131313;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.repair .repair__promotion .promotion-from .submit-span {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 39px;
  width: 290px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  word-wrap: break-word;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .form-label,
.repair .repair__promotion .promotion-from .form-input {
  display: block;
}

.repair .repair__promotion .promotion-from .form-label,
.repair .repair__promotion .promotion-from .form-input {
  width: 408px;
}

.repair .repair__promotion .promotion-from .form-input {
  height: 26px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.repair .repair__promotion .promotion-from .form-input::-webkit-input-placeholder {
  vertical-align: top;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .form-input:-ms-input-placeholder {
  vertical-align: top;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .form-input::-ms-input-placeholder {
  vertical-align: top;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .form-input::placeholder {
  vertical-align: top;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .checkbox-from {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 18px;
  width: 18px;
  margin-right: 9px;
}

.repair .repair__promotion .promotion-from .form-label {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.repair .repair__promotion .promotion-from .form-label:nth-of-type(2) {
  margin: 48px 0;
}

.repair .repair__promotion .promotion-from .input-submit {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 213px;
  height: 51px;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border: 0;
  border-radius: 2px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.repair .repair__promotion .promotion-from .checkbox-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 18px;
  width: 286px;
  margin: 18px 0 39px 0;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.repair .promotion-discount {
  position: relative;
  display: block;
  height: 72px;
  width: 350px;
  margin-top: 38px;
  padding: 13px 0 13px 97px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
}

.repair .promotion-discount::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background: #E3B873;
  background-image: url("assets/img/pigbox.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
          box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.pattern {
  height: 864px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("assets/img/pattern-bg.png");
}

.pattern .pattern-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 134px 0 0 99px;
}

.pattern .pattern-list .pattern-list__text {
  display: block;
  height: 66px;
  width: 283px;
  margin-bottom: 47px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.pattern .pattern-list .pattern-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 516px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.pattern .pattern-list .pattern-list__items .list-link {
  text-decoration: none;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

.pattern .pattern-gallery {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 102px;
}

.pattern .pattern-gallery .pattern-gallery__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pattern .pattern-gallery .pattern-gallery__line:nth-of-type(1) {
  top: -43px;
  bottom: -41px;
  margin-right: 43px;
}

.pattern .pattern-gallery .pattern-gallery__line:nth-of-type(2) {
  top: -112px;
  bottom: 40px;
}

.pattern .pattern-gallery .gallery-img:last-child {
  margin-top: 37px;
}
/*# sourceMappingURL=style.css.map */