@mixin title-with-icon {
            display: block;
            width: 300px;
            height: 67px;            
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            background-repeat: no-repeat;
            //background-position: calc(50% - 57px) 100%;
            background-position: 50% 100%;
            text-transform: uppercase;
           
}


@media (max-width: 1440px) {
    .wrapper {
      width: 1440px;
    }
  }
  
  @media (max-width: 375px) {
    .wrapper {
      width: 375px;
    }
  }
.wrapper {
    margin: 0 auto;
    width: 1440px;
}

.header {
    display: flex;
    height: 83px; 
    background-color: #131313;  
}

.home {
    display: flex;
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
    height: 37px;
    width: 100%;
    padding: 0 100px 0 82px;
    
    // & > * {
    //     outline: 1px solid yellow;
    // }
    .home__logo{
        display: block;
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E3B873;
    }

    .home__menu {
        width: 581px; 
          

        .menu {
            display: flex;   
            justify-content: space-between;
            align-items: center;                          
            
        }

        .menu__items {
            list-style: none;
            
        }  

        .menu__links {
            font-family: "FuturaBookC";
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
        }    
        
    }

    .home__phone {
        display: block;
        text-decoration: none;
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;        
        text-decoration-line: underline;
        color: #E3B873;
    }

    .home__call {
        display: block;
        height: 37px;
        width: 161px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border: 0;
        border-radius: 2px;
        font-family: "FuturaDemiC";
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.banner {
    display: flex;
    width: 100%;
    .banner__social {
        width: 82px;
        background-color: #131313;
        .social-link {            
            display: block;
            margin: 200px auto;
            width: 20px;
            height: 174px;           
            text-decoration: none;
            background-image: url("assets/img/instagrm-line.png");
            background-repeat: no-repeat;
        }

    }
    .banner__banner {
        position: relative;
        height: 513px;
        width: 100%;
        padding-left: 60px;
        padding-top: 194px;
        background-image: url("assets/img/banner-repair.png");
        background-repeat: no-repeat;
        background-size: cover;

        .banner-title {
            display: block;
            max-width: 520px;
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            color: #FFFFFF;

            &--colored {
                color: #E3B873;
            }
        }

        .banner-promo {  
            display: block;          
            max-width: 490px;
            margin: 30px 0 45px 0;
            font-family: "FuturaBookC";
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
        }
        .btn {
            width: 207px;
            height: 51px;
            font-family: "FuturaDemiC";
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;  
        }
        .banner-calculate {  
            margin-right: 20px;        
            border: 0;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
        
        }
        .banner-submit {
            background: 0;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
        }

        .banner-scroll {
            position: relative;
            display: block;
            bottom: -141px;
            left: -134px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 247px;
            height: 97px;
            background-color: #131313;

            .scroll-txt {               
                min-height: 29px;
                min-width: 150px;                
                font-family: "Yeseva One";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 29px;
                background-image: url("assets/img/scrol-down-marker.png");
                background-position: 120px 0;
                background-repeat: no-repeat;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

.projects {
    display: flex;
    align-items: flex-end;
    height: 695px;
    padding:  0 0 379px 100px;
    background-image: url("assets/img/project-bg.png");
    background-repeat: no-repeat;       
    background-size: cover;
    overflow: hidden;

    .projects__completed-projects {
        max-height: 482px;
        width: 660px;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        
        //justify-content: space-between;
        
        // удалить
        // margin-left: 100px;
        // margin-top: 100px;
        //
        .projects-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            max-width: 420px;           
            
            .header-span {
                display: block;
            }

            .project-title {
                width: 171px;
                font-family: "Yeseva One";
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 37px;
                letter-spacing: -0.07em;
                text-transform: uppercase;
                color: #E3B873;
            }

            .project-text {
                font-family: "FuturaBookC";
                font-size: 18px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
        .projects-desc {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;
            margin-top: 50px;
            //flex-wrap: wrap;

            // &:nth-child(2n){
            //     width: 213px;
            // }
            // &:nth-child(2n+1){
            //     width: 156px;
            // }

            .desc-span {
                display: block;
                overflow: hidden;
                font-family: "Yeseva One";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: #E3B873;

                &-text {
                    display: block;
                    max-width: 120px;
                    overflow: hidden;
                    font-family: "FuturaBookC";
                    font-size: 15px;
                    line-height: 20px;
                    color: #FFFFFF;
                    text-transform: none;
                }
            
            }

        }
        
        .projects-switcher {
            display: flex;
            margin-top: 90px;

            .switcher {
                display: block;
            }

            .switcher-left,
            .switcher-right  {
                width: 42px;
                height: 13px;
            }
            
            .switcher-left {
                margin-right: 20px;
                background-image: url("assets/img/switcher-left.png");
            }

            .switcher-right {
                margin-left: 20px;
                background-image: url("assets/img/switcher-rigth.png");
            }
            
            .switcher-marker {
                width: 9px;
                height: 9px;
                margin: 0 9px;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 30px;

                &--colored {
                    background: #FFFFFF;
                }
            }

        }

    }

    .projects__slider {
        max-height: 551px;
        width: 100%;
        margin-left: 70px;
        .slider-map {
            display: flex;
            justify-content: space-between;
            width: 623px;
            margin-bottom: 45px;

           .map-name {
            display: block;
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;            
            color: rgba(255, 255, 255, 0.3);
            text-decoration: none;
                &--colored {
                    color: #E3B873;
                    text-decoration-line: underline;
                }

           } 
        }
        .slider-frames {
            position: relative;
            display: flex;
            height: 482px;
            width: 100%;
            padding-right: 21px;
            //overflow: hidden;

            .frame-content {                
                width: 679px;
                height: 482px;
                // background-repeat: no-repeat;

                // &:nth-child(1) {
                //     background-image: url("assets/img/slide-1.png");
                    
                // }
                    &:nth-child(2) {
                        position: absolute;
                        right: -59%;
                    }
            }

            &:after {
                content: "";
                position: absolute;
                top: calc(50% - 23px);
                right: 5%;
                width: 55px;
                height: 55px;
                background-color: #E3B873;
                box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
                border-radius: 50%;                
                background-image: url("assets/img/next-slide.png");
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }
}
.repair-examples{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 31px;      
    
    .repair-examples__item {
        position: relative;
        z-index: 0;
        margin-right: 30px;

        .item-list {
            position: relative;
            z-index: 1;
            bottom: 150px;
            left: 31px;
            width: 330px;
            //height: 286px;
            //margin: 0 auto;
            box-sizing: border-box;
            padding: 25px 0 0 34px;
            background: #FFFFFF;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

            .list-title {
                display: block;
                margin-bottom: 13px;
                font-family: "Yeseva One";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #363636;
            }

            .list-points {
                display: block;                    
                margin: 0 0 0 15px;               
                                  
            }

            .points {                    
                font-family: "FuturaBookC";
                font-size: 15px;
                line-height: 25px;
                color: #959595;
            }        

        }
        .item-price {
            position: relative;
            z-index: 2;
            bottom: -27px;
            left: -34px;
            display: block;
            width: 228px;
            height: 54px;
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 54px;
            text-align: center;
            background: #E3B873;
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            text-transform: uppercase;
            color: #FFFFFF;
        }

    }
}
.repair {
    height: 2663px;
    position: relative;
    background-image: url("assets/img/lines-bg.png");
    background-repeat: no-repeat;
   
    .repair__online-control {
        position: relative;
        top: -285px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 818px;
        margin: 0 auto;

        .online-sign {
            @include title-with-icon;            
            background-image: url("assets/img/online-control.png");            
            color: #FFFFFF;
           
        }

        .online-video {
            margin: 31px 0 99px 0;
        }

        .online-paragraph {
            display: block;   
            max-width: 681px;         
            font-family: "FuturaBookC";
            font-size: 20px;
            line-height: 34px;
            text-align: center;
            color: #363636;

        }        

       .online-form {
           max-width: 769px;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           margin-top: 92px;
        
        .form-label,
        .form-input {
            display: block;
        }

        .label-name,
        .input-name,
        .input-phone {
            
            width: 231px;
        }
        
        .input-name,
        .input-phone {
            height: 26px;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);

            &::placeholder {
                vertical-align: top;
                font-family: "FuturaBookC";
                font-size: 18px;
                line-height: 36px;
                color: #363636;
            }
            
        }
        
        .label-name{
           
            font-family: "FuturaBookC";
            font-size: 15px;
            line-height: 20px;
            color: rgba(54, 54, 54, 0.5);
        }

        .input-submit {
            display: block;
            width: 200px;
            height: 51px;
            background: #E3B873;
            box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
            border: 0;
            border-radius: 2px;
            font-family:"FuturaDemiC";
            font-size: 15px;
            line-height: 26px;            
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;

        }
        
        .checkbox-text {
            display: block;
            justify-self: center;
            margin: 35px auto;
            width: 286px;
            font-family: "FuturaBookC";
            font-size: 16px;
            line-height: 22px;
            color: #181818;

            .checkbox-marker {
                display: inline-block;
                margin-right: 9px;
            }

        } 

       } 
    }

    .repair__types {
       position: relative;
       bottom: 180px;
       display: flex;
       flex-direction: column;
       align-items: center;
        .repair-sign {
           @include title-with-icon;
            background-image: url("assets/img/types-repair.png");           
            color: #181818;
        }
        
    }
 
    .repair__promotion {
        display: flex;
        position: relative;
        bottom: 115px;
        height: 725px;
        align-items: flex-end;
        justify-content: space-between;

        .promotion-elipse {
            position: relative;
            height: 636px;
            min-width: 776px;
            margin-bottom: 34px;
            background-image: url("assets/img/elipse-building.png");
            background-repeat: no-repeat;

            .promotion-point {
                position: relative;
                display: flex;
                align-content: center;
                //justify-content: center;
                align-items: center;
                justify-items: center;
                //width: 225px;  
                .promotion-num {
                   
                    display: block;
                    width: 42px;
                    height: 42px;
                    margin-right: 13px;
                    background: #E3B873;
                    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
                    border-radius: 30px;
                    font-family: "Yeseva One";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 42px;
                    text-align: center;
                    color: #FFFFFF;               
                }
    
                .promotion-num-text {
                    display: block;                   
                    width: 225px;                    
                    font-family: "FuturaMediumC";
                    font-size: 18px;                  
                    word-wrap: break-word;
                    color: #363636;
                }

                &:nth-of-type(1){
                    top: 66px;
                    left: 355px;

                    .promotion-num-text{                        
                        width: 422px;
                    }
                }
                &:nth-of-type(2){
                    top: 133px;
                    left: 432px;                   
                }
                &:nth-of-type(3){
                    top: 252px;
                    left: 455px;                   
                }
                &:nth-of-type(4){
                    top: 370px;
                    left: 386px;                   
                }
            }
          
        }
        .promotion-from {
            
            
            .submit-form {
                display: flex;
                flex-direction: column;               
                padding: 28px 49px;
                width: 509px;
                height: 506px;
                background: #131313;
                box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);              
                box-sizing: border-box;

            }

            .submit-span {
                display: block;
                align-self: center;
                margin-bottom: 39px;
                width: 290px;
                font-family: "FuturaDemiC";
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                word-wrap: break-word;

                color: #FFFFFF;
            }
            .form-label,
            .form-input {
                display: block;
            }
    
            .form-label,
            .form-input {
                
                width: 408px;
            }
            
            .form-input {
                height: 26px;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    
                &::placeholder {
                    vertical-align: top;
                    font-family: "FuturaMediumC";
                    font-size: 18px;
                    line-height: 25px;                    
                    color: #FFFFFF;
                }
                
            }
            .checkbox-from {
                display: inline-flex;
                height: 18px;
                width: 18px;
                margin-right: 9px;
            }
            
            .form-label {
               
                font-family: "FuturaBookC";
                font-size: 15px;
                line-height: 20px;                
                color: rgba(255, 255, 255, 0.5);
            }
            .form-label:nth-of-type(2) {
                margin: 48px 0;
            }
           
    
            .input-submit {
                display: block;
                align-self: flex-end;
                width: 213px;
                height: 51px;
                background: #E3B873;
                box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
                border: 0;
                border-radius: 2px;
                font-family:"FuturaDemiC";
                font-size: 13px;
                line-height: 18px;            
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
    
            }
            .checkbox-text {
                display: inline-flex;
                height: 18px;
                width: 286px;
                margin: 18px 0 39px 0;
                font-family: "FuturaBookC";
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;     
            } 
        }
    }
    .promotion-discount {
        position: relative;
        display: block;
        height: 72px;
        width: 350px;
        margin-top: 38px;
        padding: 13px 0 13px 97px;
        box-sizing: border-box;        
        word-wrap: break-word;
        font-family: "FuturaDemiC";
        font-size: 20px;
        line-height: 25px;       
        color: #E3B873;       

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 72px;
            width: 72px;
            border-radius: 50%;
            background: #E3B873;
            background-image: url("assets/img/pigbox.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);

        }

    }
} 
.pattern {
    height: 864px;
    display: flex;
    justify-content: space-between;
   
   
    background-image: url("assets/img/pattern-bg.png");
    .pattern-list{
        // max-height: 587px;
        display: flex;        
        flex-direction: column;
        box-sizing: border-box;
        padding: 134px 0 0 99px;

        .pattern-list__text {
            display: block;
            height: 66px;
            width: 283px;
            margin-bottom: 47px;
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 37px;
            text-transform: uppercase;
            color: #E3B873;
        }

        .pattern-list__items {
            display: flex;            
            height: 516px;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            
            .list-link {
                text-decoration: none;
                font-family: "Proxima Nova";
                font-size: 20px;
                line-height: 34px;
                color: #FFFFFF;
            }

        }

    }
    .pattern-gallery {
        position: relative;
        z-index: 1;
        display: flex;
        position: relative;  
        padding-right: 102px;    

        .pattern-gallery__line {
            position: relative;
            display: flex;
            z-index: 10;
            flex-direction: column;            
        }
        .pattern-gallery__line:nth-of-type(1){
            top: -43px;
            bottom: -41px;
            margin-right: 43px;          
          }
        .pattern-gallery__line:nth-of-type(2){
            top: -112px;   
            bottom: 40px;   
        }
        .gallery-img:last-child {
            margin-top: 37px;
        }
    }
}

.design-project {
    position: relative;    
    z-index: 1;    
    height: 620px;

    .design-upper{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        top: 154px;
    }
    .design-sign {        
        @include title-with-icon;
        background-image: url("assets/img/design-project.png");           
        color: #181818;         
    }
    .design-text{
        margin: 24px 0 39px 0;
        max-width: 655px;
        font-family: "FuturaBookC";
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #363636;
    }
}
 /* ---SECTION GOAL--- */
.goal {
    height: 1616px;
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 500px;
    box-sizing: border-box;
    background-image: url("assets/img/goal-bg.png");
}

.goal-info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    span {
        display: block;
    }
}

.goal-info__header {
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.goal-info__title {
    max-width: 190px;
    margin: 18px 0 92px 0;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    word-break: break;
    text-transform: uppercase;
    color: #E3B873;
}

.goal-info__slider-counter {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.goal-info__subtitle {
    max-width: 212px; 
    margin: 22px 0 16px 0;   
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    word-break: break;
    text-transform: uppercase;
    color: #E3B873;
}

.goal-info__text {
    max-width: 342px;
    text-align: left;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}
.slider-switcher {
    display: flex;
    margin-top: 107px;
    span {
        display: block;
    }
    //margin-top: 90px;
}   

.slider-switcher__switcher-prev,
.slider-switcher__switcher-next {
    width: 42px;
    height: 13px;
}
    
.slider-switcher__switcher-prev {
    margin-right: 20px;
    background-image: url("assets/img/switcher-left.png");
}

.slider-switcher__switcher-next {
    margin-left: 20px;
    background-image: url("assets/img/switcher-rigth.png");
}
    
.slider-switcher__point {
        width: 9px;
        height: 9px;
        margin: 0 9px;
        background: rgba(255, 255, 255, 0.3);
      
        border-radius: 100%;

        &_active {
            background: #FFFFFF;
        }
}

.goal-steps {
    display: flex;
    flex-direction: column;
    margin-right: 102px;
}

.goal-steps__grid {
    max-width: 765px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 127px 136px 100px;
    row-gap: 36px;
    column-gap: 200px;
    margin-top: 87px;

    
}
.steps__number,
.steps__target {
        display: block; 
        opacity: 0.3;      
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
       
        color: #FFFFFF;
}
.steps__number {
    font-family: "Yeseva One"; 
    .steps__target {
        font-family: "FuturaBookC";
        line-height: 18px
    }   
}


 /* ---SECTION GOAL--- */
